body {
  background: #00b3e6;
  text-align: center;
}

header {
  text-align: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

.navbar {
  text-align: center;
}

.navbar a {
  padding: 10px;
  background-color: grey;
}

.image-caption {
  text-align: center;
}

.caption-text {
  font-size: 14px;
}

#featured-property {
  width: 800px;
  margin: 30px auto;
  text-align: center;
}

#featured-property p {
  margin-bottom: 20px;
}

.details-box {
  width: 25%;
  float: left;
  background-color: #f2f2f2;
  text-align: center;
}

